__pycache__/
*.pyc
*.log
*.sqlite3
cert/
.env
emba_logs/
logs/
embark/static/external/
documentation/
embark_db/
.vscode/
www/
.venv/
safe/
.embark_db_backup

# temp dirs/files
.tmp/
**/.tmp/
**/*.tmp

# other stuff
*.zip
*.bin
*.error
*.report
*.service
*.sql

# migrations
**/migrations/*_initial.py
media/**/*