__pycache__/
*.pyc
*.log
*.sqlite3
cert/
.env
emba_logs/
migrations/
logs/
embark/static/external/
uploadedFirmwareImages/
documentation/
embark_db/
.vscode/
www/

# other stuff
*.zip
*.bin
*.error
*.report
*.service
