__pycache__/
*.pyc
*.log
*.sqlite3
emba/
.env
embark/emba_logs/
embark/uploader/migrations/
embark/users/migrations/
embark/logs/
embark/static/external/
embark/uploadedFirmwareImages/
documentation/
embark_db/
.vscode/

# other stuff
*.zip
*.bin
*.error
*.report
