[Unit]
Description=EMBArk supervisor daemon

[Service]
Type=simple
ExecStart=/home/benedikt/embark/supervisor.sh

[Install]
WantedBy=multi-user.target