[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
django-dotenv = "*"
channels-redis = "*"
channels = "*"
daphne = "*"
inotify-simple = "*"
mysqlclient = "*"
pymongo = "*"
mongoengine = "*"
msgpack = "*"
django-apscheduler = "*"
psutil = "*"
Django = "*"
uWSGI = "*"
Rx = "*"

[dev-packages]
pycodestyle = "*"
djlint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
