[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels-redis = "*"
daphne = "*"
django = "*"
python-dotenv = "*"
rx = "*"
mod-wsgi-standalone = "*"
django-apscheduler = "*"
django-tables2 = "*"
inotify-simple = "*"
django-bootstrap5 = "*"
psutil = "*"
mysqlclient = "*"

[dev-packages]
pycodestyle = "*"
djlint = "*"
pylint-django = "*"
selenium = "*"
djangorestframework = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
