[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "*"
mysqlclient = "*"
django-apscheduler = "*"
python-dotenv = "*"
Rx = "*"
inotify-simple = "*"
psutil = "*"
msgpack = "*"
django = "*"
django-hashid-field = "*"
django-tables2 = "*"
requests = "*"
djangorestframework = "*"
watchdog = "*"
channels = "*"
channels-redis = "*"
mod-wsgi-standalone = "*"
django-bootstrap5 = "*"
pytz = "*"
typing-extensions = "*"
paramiko = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"

[dev-packages]
pycodestyle = "*"
djlint = "*"
pylint-django = "*"
selenium = "*"

[requires]
