[ req ]
default_bits                = 4096
distinguished_name          = req_distinguished_name
req_extensions              = req_ext
attributes                  = req_attributes
prompt                      = no
 
[ req_distinguished_name ]
countryName                 = "DE"
stateOrProvinceName         = "Bavaria"
localityName                = "Munich"
organizationName            = "EMBA"
organizationalUnitName      = "EMBArk"
emailAddress                = "TODO"
 
[ req_ext ]
subjectAltName              = @alt_names
 
[ req_attributes ]
unstructuredName            = "Best Tool"
 
[ alt_names ]
DNS.1 = embark.local

[ san ]
subjectAltName = DNS:embark.local,IP:0.0.0.0