{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'content/css/settings.css' %}" />
{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/settings.js' %}"></script>{% endblock js %}
<div class="overview-container">
  <div class="configuration-container">
    <h2>Global Settings</h2>
      <div class="setting-row">
        <label for="orchestrator-toggle" class="setting-label">Enable Orchestrator</label>
        <label class="switch">
          {% if user.is_staff or user.is_superuser %}
            <input type="checkbox" id="orchestrator-toggle" {% if app_settings.orchestrator %}checked{% endif %} />
          {% else %}
            <input type="checkbox" id="orchestrator-toggle" {% if app_settings.orchestrator %}checked{% endif %} disabled/>
          {% endif %}  
          <span class="slider round"></span>
        </label>
      </div>
  </div>
</div>
