.progress-wrapper {
    display: none;
}

.progress-bar {
    width: 0% ;
}

.uploadRow {
    height: 100vh;
    padding-top: 30px;
}

/* Styles for the slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
    top: 5px;
    left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a791ff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    bottom: -3px;
    background-color: rgb(48, 48, 48);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #493791;
}

input:focus+.slider {
    box-shadow: 0 0 1px #493791;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Styles for the dataform fields */

.form-check-input:checked {
    background-color: #493791;
    border-color: #493791;
}

.formTxtField,
.dropdownSelect {
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 0;
    padding: 6px 12px 6px 12px;
    margin-top: 15px;
    background-color: #acacac;
}

.form-control:focus {
    background-color: #acacac;
}

.dataRow {
    border-left-style: solid;
    border-color: #b8cedb;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 0px;
    padding-right: 5px;
    font-size: small;
}

/* Styles for file upload */

.deleteIconRow {
    border-top-style: solid;
    border-color: #b8cedb;
    padding: 40px;
    justify-content: center;
}

.fileDrop>input {
    display: none;
}

.fileuploadIcon {
    color: #009999
}

.uploadIconRow {
    display: block;
}

/*Uploaded Files*/
.statusTile {
    background-color: #009999;
}

.iconLabel {
    display: block;
    text-align: center;
}

.deleteBtnRow {
    justify-content: center;
}


.fileName {
    display: block;
    align-items: center;
}

.deleteFirmware {
    display: flex;
    align-items: baseline;
}

.deleteFirmware>select {
    margin-left: 10px;
}

#file-input {
    visibility: hidden;
    width: 0;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
}

#firmwareToDelete {
    margin-bottom: 10px;
}
/* Analysis */

.form-group>.form-check-input {
    left: 22px;
}


.expertModeOptions[value="expmode_off"] {
    display: none;
}
.expertModeOptions[value="expmode_on"] {
    display: block;
}


.form-group>label {
    padding-left: 30px;
}

.text-muted[value="help_text_off"] {
    display:none;
}

.text-muted[value="help_text_on"] {
    display:block;
}