.uploadRow {
    height: 100vh;
    padding-top: 30px;
}

/* Styles for the slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b8cedb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #009999;
}

input:focus+.slider {
    box-shadow: 0 0 1px #009999;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.togLbl {
    padding: 0;
}

.togSwitch {
    margin-top: 4px;
    padding: 0;
}

/* Styles for the dataform fields */

.formTxtField,
.dropdownSelect {
    width: 80%;
    height: 2rem;
    border: 1px solid #b8cedb;
    border-radius: .25rem;
    padding: 6px 12px 6px 12px;
}

.dataRow {
    border-left-style: solid;
    border-color: #b8cedb;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;
    padding-top: 0px;
    padding-right: 5px;
    font-size: small;
}

/* Styles for file upload */

.deleteIconRow {
    border-top-style: solid;
    border-color: #b8cedb;
    padding: 40px;
    justify-content: center;
}

.fileDrop>input {
    display: none;
}

.fileuploadIcon {
    font-family: "font Awesome";
    color: #009999
}

.uploadIconRow {
    display: block;
}

/*Uploaded Files*/
.uploadedFile {
    display: none;
}

.statusTile {
    background-color: #009999;
}

.iconLabel {
    display: block;
    text-align: center;
}

.uploadBtnRow {
    justify-content: center;
}

.deleteBtnRow {
    justify-content: center;
}


.fileName {
    display: block;
    align-items: center;
}

.deleteFirmware {
    display: flex;
    align-items: baseline;
}

.deleteFirmware>select {
    margin-left: 10px;
    width: 60%;
}

.form-group>.form-check-input {
    left: 22px;
}

.form-group>label {
    padding-left: 30px;
}

.progress-wrapper {
    display: none;
    margin-top: 10px;
}