* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}

body {
    overflow-x: hidden;
    background: #1a1a1a;
    background-image: url('/static/content/images/bg.png');
    background-repeat: repeat;
    margin-bottom: 10px;
}

.container-fluid,
.row {
    padding: 0;
    margin: 0;
}

.col {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.main {
    color: #fff;
    z-index: 0;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

/*Progress bar*/
.progress-bar {
    background-color: #493791;
}

/* button styles */
.btn {
    width: fit-content;
    font-weight: normal;
    border-radius: 0px;
    height: 40px;
    line-height: 1;
    font-size: medium;
    color: #FFFFFF;
    margin: 15px 0 10px 10px;
}

.btn:hover {
    cursor: pointer;
}

/* submit button */
button[type="submit"] {
    background: #493791;
    color: #FFFFFF;
}

button[type="submit"]:hover {
    background: #2d2357;
    color: #FFFFFF;
}

button[type="submit"]:disabled {
    background: #3f3f3f;
    color: #5f5f5f;
}

/* general button */
button[type="button"] {
    background: #7b919d;
    color: #FFFFFF;
}

button[type="button"]:hover {
    background: #525d63;
    color: #FFFFFF;
}

/* reset /cancel / delete buttons */
button[type="reset"],
button[type="stop"],
button[type="delete"] {
    background: #e3141b;
    color: #FFFFFF;
}

button[type="reset"]:hover,
button[type="stop"]:hover,
button[type="delete"]:hover {
    background: #870005;
    color: #FFFFFF;
}

.buttonRow {
    height: 60px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-bottom: 10px;
}

.buttonRowElem {
    display: block;
    float: right;
}

.form-select {
    border-radius: 0;
    margin: 0 5px;
    border: none;
}

.form-select:focus {
    box-shadow: none;
    border: none;
}

.progress-wrapper {
    display: none;
    margin-top: 10px;
}

.box {
    margin-bottom: calc(var(--bs-gutter-x));
    background-color: #fff;
    color: #000;
    padding-top: 12px;
    border-radius: 10px;
}

.innerBlock {
    margin-left: 30px;
}

.mainText {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
    color: #1e0e28ff;
}

.subText {
    font-size: medium;
    text-align: center;
}

.fixed-bottom {
    z-index: 0;
}