@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	overflow-x: hidden;
}
.container{
	position: relative;
	width: 100%;
}
.navigation{
	position: fixed;
	width: 300px;
	height: 100%;
	background: #4056A1;
	transition: 0.5s;
	overflow: hidden;
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover
{
	background: #6b7cc2;
}
.navigation ul li:nth-child(1):hover{
	background: transparent;
}
.navigation ul li a, .logo a, .brandname{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: white;
}
.navigation ul li a .icon, .embarklogo{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.navigation ul li a .icon .fa{
	color: white;
	font-size: 24px;
}
.navigation ul li a .title, .brandname{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
	font-family: Open sans-serif;
	font-size: large;
}

.logo{
	width: 300px;
	background: #4056A1;
	position: relative;
}
.embarklogo{
	height: 50px;
	min-width: 40px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}
.section1, .section2, .section3, .section4, .section5 {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10em;
	text-transform: uppercase;
	font-weight: 700;
	color: #F13C20;
}
.main{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: #C5CBE3
}