/* navigation menu */
.navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #1b1534;
	transition: 0.5s;
	overflow: hidden;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
}

.navigation ul li:hover {
	background: #4d217a;
}

.navigation ul li:nth-child(1):hover {
	background: transparent;
}

.navigation ul li a,
.logo a,
.brandname {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #EEEEEE;
}

.navigation ul li a .icon,
.embarklogo {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon .fa {
	color: #EEEEEE;
	font-size: 24px;
}

.navigation ul li a .title,
.brandname {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	white-space: nowrap;
	font-family: 'Arial Narrow';
	font-size: 18px;
}

.logo {
	width: 300px;
	background: #1b1534;
	position: relative;
}

.embarklogo {
	height: 50px;
	min-width: 40px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.brandname {
	margin-top: 10px;
}

.main {
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: #d7e4ee;
}