.leftCol {
    grid-template-rows: 65% auto;
    display: grid;
    grid-gap: 10px;
    max-height: 100%;
}

.dataCardIRRow1 {
    grid-template-columns: 40% auto;
    grid-gap: 10px;
    display: grid;
    margin-bottom: 10px;
}

.dataCardIRRow2 {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 10px;
    height: 350px;
}

.IRReportCard {
    max-height: 350px;
}

/* .IRReportCard1 {
    max-height: 350px;
} */