@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}


.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

.btn-login {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #4d4197;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px, 0;
    transition: all 0.5s;
}

.btn-login:hover {
    background-color: #1B1734;
}

.login {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
}

.alert {
    width: max-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

}

img {
    height: 100%;
    width: 50%;
    opacity: 0.7;
    position: relative;
}

@media only screen and (max-width: 525px) {
    img {
        width: 70%;
        height: 40%;
        left: 15%;
    }

    .login {
        left: 50%;
    }
}