/* navigation menu */
#navigation {
    position: fixed;
    overflow: hidden;
    width: 80px;
    height: 100%;
    background: #29043f;
    top: 0;
    left: 0;
    padding-top: 6px;
}

#navigation.active {
    width: 300px;
}

#navigation .logo-content {
    height: 60px;
}

#navigation .logo-content .logo {
    display: flex;
    text-decoration: none;
    color: #eee;
    height: 30px;
    align-items: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#navigation.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo-content .logo img {
    min-width: 50px;
    margin-right: 5px;
    margin-top: 40px;
    object-fit: cover;
    margin-left: 10px;
}

.logo-content .logo a {
    display: flex;
    text-decoration: none;
}

/* nav bar button */
#navigation #menuBtn {
    position: absolute;
    color: #EEEEEE;
    font-size: 24px;
    left: 50%;
    top: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    transform: translateX(-60%);
    cursor: pointer;
    margin-left: 10px;
}

#navigation #menuBtn:hover {
    color: #ffcc00;
}

#navigation.active #menuBtn {
    left: 86%;
}

/* botton bar */
#navigation #nav-container {
    height: calc(100% - 5em);
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2em;
    padding-bottom: 7em;
    align-items: stretch;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nav-item {
    color: #eee;
    font-size: .8em;
    margin: .2em 0 0 0;
    display: inline-flex;
}

.nav-item:hover {
    color: #ffcc00;
}

.nav-item a {
    color: #eee;
    text-decoration: none;
    margin-left: .8em;
}

.nav-item a:hover {
    color: #ffcc00;
}

.nav-item a button {
    display: none;
}

.nav-item .btn-group {
    display: none;
}

.nav-item a .icon {
    display: inline-block;
    text-align: center;
}

#navigation.active .nav-item a button {
    display: inline-block;
}

#navigation.active .nav-item .btn-group {
    display: block;
}

.nav-link {
    color: #eee;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffcc00;
    text-decoration: none;
}

/* dropdown menu */
.dropdown-menu {
    background: rgba(19, 0, 24, 0.32);
}

/* bottom bar */
#nav-bottom {
    bottom: 0;
    position: absolute;
    background: #30294d;
    margin: .2em 0 0 0;
    padding-bottom: .2em;
    height: 9em;
    width: 100%;
    display: inline-block;
    align-items: stretch;
}

#navigation.active #nav-bottom button {
    width: 100%;
    display: flex;
    justify-content: center;
}

#user-image {
    display: none;
}

#navigation.active #user-image {
    display: inline-block;
    width: 40%;
}

#navigation #logout a .icon {
    width: 100%;
    text-align: left;
}

#navigation.active #logout {
    display: inline-block;
    width: 40%;
}

/* main content */
.main {
    position: absolute;
    min-height: 100vh;
    left: 80px;
    width: calc(100% - 80px);
    /*transition: all 0.5s ease;*/
    padding: 15px;
}

#navigation.active~.main {
    width: calc(100% - 300px);
    left: 300px;
}