* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}


.col-md-3 {
    flex: 0 0 auto;
    width: 100%;
}

.h2, h2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}



.btn-reset {
    width: 220px;
    height: 49px;
    outline: black;
    border: black;
    background-color: #4d4197;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s;
}

.btn-cnt{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}