.tableData {
    margin-top: 15px;
}

/* Search bar styles */
.searchBar {
    padding: 3px;
    border: solid 1px #E4E4E4;
    background-color: #fff;
}

.searchBar input {
    border: 0;
    box-shadow: none;
}

.searchBar button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 6 8px 6 8px;
}

.searchBar button:hover {
    border: 0;
    box-shadow: none;
}

.form-control {
    transition: none;
    border: none;
}

.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #493791;
    border-color: #493791;
}