  
  #fileDropDiv {
    width: 50%;
  }
  
  #fileDropDiv>input {
    display: none;
  }
/* 
  #fileDropDiv>label {
    margin-left: 15%;
  } */

  .titleText{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    text-align: center;
  }
  .subText{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    text-align: center;
    
  }
  img {
    margin: 4%;
  }