
.tile {  
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;		
    padding: 10px;
    margin-bottom: 10px;
}
    
.title {
    margin-top: 0px;
    font-size: 60px;
}


h3{
    font-weight: 300;
    line-height: 1.3em;
}

p{
    font-size: xxx-large;
    font-weight: 100 !important;
}
.coldiv {
    width: 100%;
}

body {
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 300;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: blue;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.statusTile{
    background-color: lavender;
    	
}
.statusTile:hover {
    background: blueviolet;
}
  