.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.containerCSS {
    width: 100%;
    padding: 15px;
}

.title {
    margin-top: 0px;
    font-size: 60px;
}


h3 {
    font-weight: 300;
    line-height: 1.3em;
}


.coldiv {
    width: 100%;
}

.containerCSS div {
    width: inherit;
}

.statusTile {
    background-color: lavender;
}


.statusEMba {
    display: flex;
}

.headerText {
    margin: 5px;
}

.log_phase {
    font-size: small;
    margin-bottom: 5px;
    overflow-y: scroll;
}

.progress {
    padding: 0%;
}

.progress-bar {
    width: 0%;

}

.log {
    width: 100%;
    margin: 3px;

}

.sub-container {
    height: 100vh;
}

.logUL {
    height: 100px;
    max-height: 300px;
    overflow-y: auto;
    --scrollbarBG: #d7e4ee;
    --thumbBG: #b8cedb;
}

/* ::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
} */