.setting-row {
    display: flex;
    align-items: center;
    gap: 1rem; 
    padding: 1rem 0;
    color: white;
}

.setting-label {
  font-weight: 500;
  font-size: 1rem;
}

.setting-toggle-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.overview-container {
    display: flex;
    gap: 2rem; /* space between the columns */
    align-items: flex-start;
}

.configuration-container, .worker-container {
    flex: 1; /* Take equal width or adjust as needed */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:rgb(91, 25, 166);
}