{% load django_bootstrap5 %}

<form action="{% url 'embark-dashboard-add-label' firmware.id %}" method="post" id="form">
    {% csrf_token %}
    <div class="innerBlock">
        {% load filters %}
        {% bootstrap_form label_select_form %}
        {% bootstrap_button "Add" button_type="submit" button_class="btn-primary" %}
    </div>
</form>


<form action="{% url 'embark-dashboard-create-label' %}" method="post" id="form">
    {% csrf_token %}
    <div class="innerBlock">
        {% load filters %}
        {% bootstrap_form label_form layout='grid' %}
        {% bootstrap_button "Create" button_type="submit" button_class="btn-primary" %}
    </div>
</form>
