{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/mainDashboard.css' %}"/>{% endblock style %}
{% block title %}EMBArk main dashboard{% endblock title %}
{% block navigation %}{% if nav_switch %}{% include "navigation.html" %}{% endif %}{% endblock navigation %}
{% block maincontent %}
    <div class="cardBox">
        <div class="card">
            <div class="card-title cardName firmwareAnalysed">Firmware tested</div>
            <div class="card-body cardValue" id="firmwareAnalysed"></div>
        </div>
        <div class="card">
            <div class="card-title cardName totalFiles">Files analysed</div>
            <div class="card-body cardValue" id="totalFiles"></div>
        </div>
        <div class="card">
            <div class="card-title cardName totalDirectories">Directories found</div>
            <div class="card-body cardValue" id="totalDirectories"></div>
        </div>
        <div class="card">
            <div class="card-title cardName totalBinaries">Binaries analysed</div>
            <div class="card-body cardValue" id="totalBinaries"></div>
        </div>
        <div class="card">
            <div class="card-title cardName totalCve">Vulnerabilities (CVEs)</div>
            <div class="card-body cardValue" id="totalCve"></div>
        </div>
        <div class="card">
            <div class="card-title cardName totalIssues">Exploits</div>
            <div class="card-body cardValue" id="totalIssues"></div>
        </div>
    </div>

    <div class="dataCard">
        <div class="row cardRow dataCardRow">
            <div class="card card-left">
                <canvas class="aggregatedReport" id="accumulatedCvePie"></canvas>
            </div>
            <div class="card card-right">
                <canvas class="aggregatedReport" id="accumulatedOs"></canvas>
            </div>
        </div>
    </div>
    <div class="dataCard">
        <div class="row cardRow dataCardRow2">
            <div class="card card-pie">
                <div class="row">
                    <canvas class="aggregatedReport" id="nxpie"></canvas>
                </div>
            </div>
            <div class="card card-pie">
                <div class="row">
                    <canvas class="aggregatedReport" id="piepie"></canvas>
                </div>
            </div>
            <div class="card card-pie">
                <div class="row">
                    <canvas class="aggregatedReport" id="relropie"></canvas>
                </div>
            </div>
            <div class="card card-pie">
                <div class="row">
                    <canvas class="aggregatedReport" id="canarypie"></canvas>
                </div>
            </div>
            <div class="card card-pie">
                <div class="row">
                    <canvas class="aggregatedReport" id="strippedpie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="dataCard">
        <div class="row cardRow dataCardRow3">
            <div class="card card-wide">
                <canvas class="system-overload" id="loadChart"></canvas>
            </div>
        </div>
    </div>

    <div class="dataCard">
        <div class="row cardRow dataCardRow4">
            <div class="card">
                <canvas class="aggregatedReport" id="accumulatedArchitecture"></canvas>
            </div>
            <!--
              TODO put system emulation graphs here
            -->
        </div>
        <div class="row cardRow dataCardRow5">
            <div class="card card-wide">
                <canvas class="aggregatedReport" id="topBinaryTypes"></canvas>
            </div>
        </div>
    </div>
    <!--
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Upload"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Add Device"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Start Scan"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    -->
{% endblock maincontent %}
{% block inlinejs %}
    <script type="text/javascript" src="{% static 'scripts/mainDashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/accumulatedReports.js' %}"></script>
{% endblock inlinejs %}
