{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/login.css' %}"/>{% endblock style %}
{% block title %}EMBArk login{% endblock title %}
{% block maincontent %}
    <div class="login-form-container">
        <div id="embarkLogo">
          <img src="{% static 'content/images/embark_logo.svg' %}" alt="EMBArk logo graphic" height="auto" width="auto"/>
        </div>
        <div class="d-flex justify-content-center">
            <!--  TODO put actual version here-->
            <h2><span class="badge bg-primary">New</span>  Version 0.1</h2>
        </div>
        <div class="d-flex justify-content-center">
          <h3><span class="badge bg-secondary">New</span>  New Buttons everywhere</h3>
        </div>
        <div class="login">
            <form action="{% url 'embark-login' %}" class="login-form" method="post" novalidate>
                <h2 class="title">Sign in</h2>
                {% csrf_token %}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
                <input id="loginButton" type="submit" class="solid btn-login" value="login" />
            </form> 
        </div>
        <div id="login_footer">
            <a href="{% url 'embark-password-reset' %}">
                <input class="solid btn-login" type="submit" value="Lost Password?" />
            </a>
            <a href="{% url 'embark-register' %}">
                <input class="solid btn-login" type="submit" value="Register" />
            </a>
        </div>

    </div>
{% endblock maincontent %}