{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'content/css/passwordReset.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'content/css/login.css' %}"/>
{% endblock style %}
{% block title %}Reset Lost Password{% endblock title %}
{% block maincontent %}
    <div class="password-change-container">
        {% if email_setting %}
            <div class="reset">
                <form action="{% url 'embark-password-reset' %}" class="password-reset-form" method="post" novalidate>
                    <h2 class="title">Reset Password</h2>
                    {% csrf_token %}
                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    <input id="loginButton" type="submit" class="solid btn-reset" value="reset" />
                </form> 
                <div id="login_footer">
                    <a href="{% url 'embark-login' %}">
                        <input class="solid btn-login" type="submit" value="Login" />
                    </a>
                </div>
            </div>
        {% else %}
            <div class="d-flex justify-content-center">
                <h1>
                    Contact your Admin
                    {{ admin_email }}
                </h1>
            </div>
        {% endif %}
    </div>
{% endblock maincontent %}