{% extends "user/base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/passwordReset.css' %}"/>{% endblock style %}
{% block title %} Change password {% endblock title %}
{% block navigation %}{% include "uploader/navigation.html" %}{% endblock navigation %}
{% block maincontent %}
    <div class="password-change-container">
    {% if error_message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <medium>{{ message }}</medium>
        </div>
    {% endif %}
    <div class="change-password">
<form action="{% url 'embark-password' %}" class="password-change-form" method="post" novalidate>
    <div class="box box-primary">
        <div class="box-header">
            <h2 class="page-header"><i class="fa fa-lock"></i> Change Password</h2>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label>Old Password</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <input class="input-field" id="oldPassword" name="oldPassword" placeholder="Enter the Old Password" type="password" required/>
                    </div>
                </div>
                <!-- /.input group -->
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label>New Password</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <input class="input-field" id="newPassword" name="newPassword" placeholder="Enter the New Password" type="password" required/>
                    </div>
                </div>
                <!-- /.input group -->
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <label>Confirm Password</label>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </div>
                        <input class="input-field" id="confirmPassword" name="confirmPassword" placeholder="Re-enter the New Password" type="password" required/>
                    </div>
                </div>
                <!-- /.input group -->
            </div>
        </div>

            <div class="pull-right">
                <button type="submit" name="Submit" value="Save" class="btn btn-danger"><i class="livicon" data-n="pen" data-s="16" data-c="#fff" data-hc="0" ></i> Save</button>
                <button type="reset" name="Reset" value="Clear" class="btn btn-primary"><i class="livicon" data-n="trash" data-s="16" data-c="#fff" data-hc="0"></i> Clear</button>
            </div>
        </div>

    </form>
    </div>
</div>
{% endblock maincontent %}