{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/passwordReset.css' %}"/>{% endblock style %}

{% block maincontent %}
    <div class="box box-primary">
    <h2> Password successfully changed! </h2>
        <div class="btn-cnt">
        <a href="{% url 'embark-MainDashboard' %}">
            <input class="btn-reset" type="submit" value="Back to dashboard" />
        </a>
        </div>
    </div>
{% endblock maincontent %}