{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/login.css' %}"/>{% endblock style %}
{% block title %}EMBArk register{% endblock title %}
{% block maincontent %}
    <div class="login-form-container">
        <div id="embarkLogo"><img src="{% static 'content/images/embark_logo.svg' %}" alt="EMBArk logo graphic" height="auto" width="auto"/>
            <form action="{% url 'embark-register' %}" class="register-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% bootstrap_field field %}
                {% endfor %}
                <input id="loginButton" type="submit" class="solid btn-login" value="Register" />
            </form> 
        </div>
        <div id="login_footer">
            <a href="{% url 'embark-login' %}">
                <input class="solid btn-login" type="submit" value="Back" />
            </a>
        </div>
    </div>
{% endblock maincontent %}