{% load django_bootstrap5 %}

<div class="collapse" id="collapseCreate">
    <div class="box">
        
        <p class="mainText">Label Configuration</p>
        <p class="subText">Define a Label to enhance tracking</p>

        <form action="{% url 'embark-uploader-label' %}" method="post" id="form">
            {% csrf_token %}
            <div class="innerBlock">
                {% load filters %}
                {% bootstrap_form label_form layout='grid' %}
                {% bootstrap_button "Create" button_type="submit" button_class="btn-primary" %}
            </div>
        </form>

    </div>

    <div class="box">

        <p class="mainText">Vendor Configuration</p>
        <p class="subText">Define vendor parameters for tracking</p>

        <form action="{% url 'embark-uploader-vendor' %}" method="post" id="form">
            {% csrf_token %}
            <div class="innerBlock">
                {% load filters %}
                {% bootstrap_form vendor_form layout='inline' %}
                {% bootstrap_button "Create" button_type="submit" button_class="btn-primary" %}
            </div>
        </form>
    </div>
    <div class="box">
        <p class="mainText">Device Configuration</p>
        <p class="subText">Define firmware parameters for tracking</p>

        <form action="{% url 'embark-uploader-device' %}" method="post" id="form">
            {% csrf_token %}
            <div class="innerBlock">
                {% load filters %}
                {% bootstrap_form device_form %}
                <button type="submit" class="btn btn-primary" data-bs-toggle="collapse.show" data-bs-target="collapseStart">Create</button>
            </div>
        </form>

    </div>
</div>