{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/analysisImport.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/fileUpload.js' %}"></script>{% endblock js %}
{% block title %}EMBArk analysis importer{% endblock title %}
{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}
{% block maincontent %}
<!-- success_message, message, analyze_form, -->
{% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <medium>{{ message }}</medium>
    </div>
{% endif %}
    <div class="col-sm">
        <div class="box">
            <p class="mainText">Upload EMBA-Logs</p>
            <p class="subText">Supports only zip-files </p>
            <div class="innerBlock">
                <!--TODO !!! everything else -->
                Selected file:
                <div id="file-name" class="uploadedFile">None</div>
            </div>
            <div class="buttonRow">
                <button type="submit" id="uploadFirmware-btn" class="btn buttonRowElem" onclick="saveFiles()" disabled>
                    Upload
                </button>
                <button type="button" class="btn buttonRowElem" >
                    <label for="file-input">Select file</label>
                </button>
                <input id="file-input" type="file" multiple/>
            </div>
            <div class="progress-wrapper" id="progress-wrapper">
                <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    0%
                </div>
            </div>
        </div>
    </div>
{% endblock maincontent %}