<form name="dataFields" onsubmit="return saveDataFields()" method="post">
    <label for="version">Firmware version</label><br>
    <input type="text" id="version" name="fname" value=""><br>
    <label for="vendor">Firmware vendor</label><br>
    <input type="text" id="vendor" name="lname" value=""><br>
    <label for="device">Device</label><br>
    <input type="text" id="device" name="lname" value=""><br>
    <label for="notes">Testing notes</label><br>
    <input type="text" id="notes" name="notes" value=""></br></br>
    <input type="submit" id="submit" name="submit" value="Submit">
</form> 
