<div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row">
                                <label for="radio-1" class="radio-custom-label title">Disk Space Available</label>
                               <!--  <h3 class="title">Disk Space Available</h3>
                                --> <input id="radio-1" class="radio-custom"  type="radio" checked>
                                
                        </a>
                </div>
        </div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row">
                                <label for="radio-2" class="radio-custom-label title">Start EMBA in Docker Mode</label>
                               <!--  <h3 class="title">Disk Space Available</h3>
                                --> <input id="radio-2" class="radio-custom"  type="radio" checked>
                                
                        </a>
                </div>
        </div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row statusTile">
                               <h3 class="title">Status Messages</h3>
                               <p>Docker Container Started</p>
                               <p>Docker Container Destroyed</p>
                               <p>Report Generated</p>
                                <p>Report Downloaded</p>
                               <p>More Status Messages..</p>
                                
                                
                        </a>
                </div>
        </div>
</div>

<div>
    
</div>