{% extends "uploader/base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/fileUpload.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/fileUpload.js' %}"></script>{% endblock js %}
{% block title %}EMBArk file upload{% endblock title %}
{% block navigation %}{% include "uploader/navigation.html" %}{% endblock navigation %}
{% block maincontent %}
    <div class="row uploadRow">
        <div class="col-sm">
            <div class="box">
                <p class="mainText">Upload firmware image/archive</p>
                <p class="subText">Supported archive types : firmware binary and most archive types</p>
                <div class="innerBlock">
                    Selected file: <div id="file-name" class="uploadedFile">None selected.</div>
                </div>
                <div class="buttonRow">
                    <button type="submit" id="uploadFirmware-btn" class="btn buttonRowElem" onclick="saveFiles()" disabled>
                        Upload
                    </button>
                    <button type="button" class="btn buttonRowElem" >
                        <label for="file-input">Select file</label>
                    </button>
                    <input id="file-input" type="file"/>
                </div>
                <div class="progress-wrapper" id="progress-wrapper">
                    <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        0%
                    </div>
                </div>
            </div>
            
            <div class="box">
                <p class="mainText">Select and delete a firmware image/archive</p>
                <form action="{% url 'embark-delete' %}" method="POST" id="delete-form" onsubmit="window.confirmDelete(event)">
                    {% csrf_token %}
                    {% load filters %}
                    <!-- Iterate over all fields and set expmode on fields in expert mode -->
                    {% for field in delete_form %}
                    <div class="innerBlock">
                        <div id="firmwareToDelete" class="form-group deleteFirmware" >
                                {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="buttonRow">
                        <button type="delete" class="btn buttonRowElem">Delete</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm">
            <div class="box">
                <p class="mainText">Analyze a firmware image/archive</p>
                <form action="{% url 'embark-start-analysis' refreshed=2 %}" method="POST" id="analyze-form">
                    <div class="innerBlock">
                        <label for="expertMode">Expert mode</label>
                        <label class="switch">
                            <input id="expertModeSwitch" type="checkbox" onclick="expertModeOn()"/>
                            <span class="slider round"></span>
                        </label>

                        {% csrf_token %}
                        {% load filters %}
                        <!-- Iterate over all fields and set expmode on fields in expert mode -->
                        {% for field in analyze_form %}

                            {% if field.expert_mode %}
                                <div class="form-group expertModeOptions" value="expmode">
                                    {% if field.field.widget|is_checkbox %}
                                        {{ field }}
                                        {{ field.label_tag }}
                                    {% else %}
                                        {% comment %} {{ field.label_tag }} {% endcomment %}
                                        {{ field }}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted" value="help_text">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    {% if field.field.widget|is_checkbox %}
                                        {{ field }}
                                        {{ field.label_tag }}
                                    {% else %}
                                        {% comment %} {{ field.label_tag }} {% endcomment %}
                                        {{ field }}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted" value="help_text">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                    <div class="buttonRow">
                        <button type="submit" class="btn buttonRowElem">Analyze</button>
                        <button type="reset" class="btn buttonRowElem">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock maincontent %}
