{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/fileUpload.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/fileUpload.js' %}"></script>{% endblock js %}
{% block title %}EMBArk file upload{% endblock title %}
{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}
{% block maincontent %}
{% if success_message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <medium>{{ message }}</medium>
    </div>
{% endif %}
    <div class="row DeleteRow">
            <div class="box">
                <p class="mainText">Select and delete a firmware file</p>
                <form action="{% url 'embark-uploader-delete' %}" method="post" id="delete-form">
                    <!--  onsubmit="window.confirmDelete(event)" -->
                    {% csrf_token %}
                    <div class="innerBlock">
                        <div id="firmwareToDelete" class="form-group deleteFirmware" >
                            {{ form }}
                        </div>
                    </div>
                    <div class="buttonRow">
                        <button type="delete" class="btn buttonRowElem">Delete</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock maincontent %}
