{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/fileUpload.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/fileUpload.js' %}"></script>{% endblock js %}
{% block title %}EMBArk file upload{% endblock title %}
{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}
{% block maincontent %}
    <div class="row DeleteRow">
            <div class="box">
                <p class="mainText">Select and delete a firmware file</p>
                <form action="{% url 'embark-uploader-delete' %}" method="post" id="delete-form" onsubmit="window.confirmDelete(event)">
                    {% csrf_token %}
                    {% load filters %}
                    <!-- Iterate over all fields and set expmode on fields in expert mode -->
                    {% for field in delete_form %}
                    <div class="innerBlock">
                        <div id="firmwareToDelete" class="form-group deleteFirmware" >
                            {% if field.field.widget|is_checkbox %}
                                {{ field }}
                                {{ field.label_tag }}
                            {% else %}
                                {% comment %} {{ field.label_tag }} {% endcomment %}
                                {{ field }}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted" value="help_text_off">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="buttonRow">
                        <button type="delete" class="btn buttonRowElem">Delete</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock maincontent %}
