<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/png" href="{%  static 'content/images/favicon.png' %}">
	<title>EMBArk</title>

	<!-- x Bootstrap and jquery-confirm CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


	<!-- Styling sheets-->
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/globalStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/fileUpload.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/serviceDashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/mainDashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/individualReportDashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/reportDashboard.css' %}">

	<!--x DataTables styling sheets-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.2/datatables.min.css"/>


	<!-- x jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<!--script for fonts/icons TODO remove-->
	<script src="https://kit.fontawesome.com/67d45e2d15.js" crossorigin="anonymous"></script>

	<!-- x script for bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

	<!--javascript files-->
	<script src="{% static 'scripts/main.js' %}"></script>
	<script src="{% static 'scripts/fileUpload.js' %}"></script>
	<script src="{% static 'scripts/embaServiceDashboard.js' %}"></script>
	<script src="{% static 'scripts/mainDashboard.js' %}"></script>
	<script src="{% static 'scripts/alertBox.js' %}"></script>

	<!--x DataTables script-->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.2/datatables.min.js"></script>

	<!-- x Charts script -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

	{% block js %}{% endblock %}

</head>
	<div class="container-fluid">
		<!--Navigation menu-->
		<div id="navigation">
			<!--Navigation menu items-->
			<div class="logo-content">
				<div class="logo">
					<a href="{% url 'embark-home' %}" onclick="">
						<span class="brandlogo"><img src="{% static 'content/images/Embark_red.png'%}" alt="embark" class="embarklogo"></span>
						<span class="brandname"><h2>EMBArk</h2></span>
					</a>
				</div>
				<div class="nav-toggle" onclick="navToolTip()">
					<i class="fas fa-bars" id="menuBtn"></i>
				</div>
			</div>
			<ul>
				<li>
					<a href="{% url 'embark-MainDashboard' %}" onclick="">
						<span class="icon"><i class="fas fa-tachometer-alt" aria-hidden="true"></i></span>
						<span class="nav-link">Dashboard</span>
					</a>
					<span class="nav-tooltip">Dashboard</span>
				</li>
				<li>
					<a href="{% url 'embark-start-analysis' refreshed=1 %}" data-link>
						<span class="icon"><i class="fas fa-upload" aria-hidden = "true"></i> </span>
						<span class="nav-link">Uploader</span>
					</a>
					<span class="nav-tooltip">Uploader</span>
				</li>
				<li>
					<a href="{% url 'embark-ServiceDashboard' %}">
						<span class="icon"><i class="fas fa-binoculars" aria-hidden="true"></i></span>
						<span class="nav-link">Service</span>
					</a>
					<span class="nav-tooltip">Service</span>
				</li>
				<li>
					<a href="{% url 'embark-ReportDashboard' %}">
						<span class="icon"><i class="fas fa-chart-pie" aria-hidden="true"></i></span>
						<span class="nav-link">Reports</span>
					</a>
					<span class="nav-tooltip">Reports</span>
				</li>
			</ul>
			<div class="profile-content">
				<div class="profile">
					<div class="profile-details">
						<div class="user-image"><i class="fas fa-user-circle"></i></div>
						<div class="user-id">
						{{ username }}
						</div>
					</div>
					<a href="{% url 'embark-logout' %}">
						<i class="fas fa-sign-out-alt" id="log-out"></i>
					</a>
				</div>
			</div>
		</div>
		<!--Main container-->
		<div class="main col col-sm-10">
			{% block maincontent %}
			{% endblock %}
		</div>
	</div>
</html>
