<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>EMBArk</title>

	<!--Required Meta tags-->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!--Styling sheets-->
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/home.css' %}">
	<link rel="stylesheet" href="{% static 'content/css/fileUpload.css' %}">
	<link rel="stylesheet" href="{% static 'content/css/serviceDashboard.css' %}">

	<!--script for fonts/icons-->
	<script src="https://kit.fontawesome.com/67d45e2d15.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    {% comment %} <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

	<!--scripts for bootstrap-->
	{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!--javascript files-->
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<script src="{% static 'scripts/main.js' %}"></script>
	<script src="{% static 'scripts/fileUpload.js' %}"></script>

</head>
	<div class="container-fluid">
		<div class="row">
			<!--Navigation menu-->
			<div class="col col-sm-3">
				<div class="navigation">
					<!--Navigation menu items-->
					<ul>
						<li>
							<a class="active" href="#home" onclick="">
								<span class="brandlogo"><img src="{% static 'Content/Images/Embark_red.png'%}" alt="embark" class="embarklogo"></span>
								<span class="brandname"><h2>EMBArk</h2></span>
							</a>
						</li>
						<li>
							<a href="#dashboard" onclick="">
								<span class="icon"><i class="fas fa-tachometer-alt" aria-hidden="true"></i></span>
								<span class="title">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="#uploader" onclick="uploader()">
								<span class="icon"><i class="fas fa-upload" aria-hidden = "true"></i> </span>
								<span class="title">Uploader</span>
							</a>
						</li>
						<li>
							<a href="#service" onclick="loadServiceDasboard()">
								<span class="icon"><i class="fas fa-binoculars" aria-hidden="true"></i></span>
								<span class="title">Service</span>
							</a>
						</li>
						<li>
							<a href="#reports">
								<span class="icon"><i class="fas fa-chart-pie" aria-hidden="true"></i></span>
								<span class="title">Reports</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!--Main container-->
	<div class="main col col-sm-10">
		<section class="section1" id="home">Home</section>
		<section class="section2" id="dashboard">Dashboard</section>
		<section class="section3" id="uploader">Uploader</section>
		{% comment %} <section class "section4" id="details">Details</section>			 {% endcomment %}
		<section class="section5" id="service">Service</section>
		<section class="section6" id="reports">Reports</section>
	</div>
</html>