<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>EMBArk</title>

	<!--Required Meta tags-->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"/>

	<!--Styling sheets-->
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/globalStyle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/fileUpload.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/serviceDashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/mainDashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'content/css/individualReportDashboard.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


	<!--DataTables styling sheets-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"/>

	<!--DataCharts styling sheets-->
	<script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js></script>

	<!--script for fonts/icons-->
	<script src="https://kit.fontawesome.com/67d45e2d15.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    {% comment %} <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


	<!--scripts for bootstrap-->
	{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!--javascript files-->
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<script src="{% static 'scripts/main.js' %}"></script>
	<script src="{% static 'scripts/fileUpload.js' %}"></script>
	<script src="{% static 'scripts/embaServiceDashboard.js' %}"></script>
	<script src="{% static 'scripts/alertBox.js' %}"></script>

	<!--DataTables script sheets-->
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

	{% block js %}{% endblock %}

</head>
	<div class="container-fluid">
		<div class="row">
			<!--Navigation menu-->
			<div class="col col-sm-3">
				<div class="navigation">
					<!--Navigation menu items-->
					<ul>
						<li>
							<a class="active" href="{% url 'embark-home' %}" onclick="">
								<span class="brandlogo"><img src="{% static 'content/images/Embark_red.png'%}" alt="embark" class="embarklogo"></span>
								<span class="brandname"><h2>EMBArk</h2></span>
							</a>
						</li>
						<li>
							<a href="{% url 'embark-MainDashboard' %}" onclick="">
								<span class="icon"><i class="fas fa-tachometer-alt" aria-hidden="true"></i></span>
								<span class="title">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="{% url 'embark-start-analysis' refreshed=1 %}" data-link>
								<span class="icon"><i class="fas fa-upload" aria-hidden = "true"></i> </span>
								<span class="title">Uploader</span>
							</a>
						</li>
						<li>
							<a href="{% url 'embark-ServiceDashboard' %}">
								<span class="icon"><i class="fas fa-binoculars" aria-hidden="true"></i></span>
								<span class="title">Service</span>
							</a>
						</li>
						<li>
							<a href="{% url 'embark-ReportDashboard' %}">
								<span class="icon"><i class="fas fa-chart-pie" aria-hidden="true"></i></span>
								<span class="title">Reports</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!--Main container-->
	<div class="main col col-sm-10">
		{% comment %} <section class="section1" id="home">Home</section>
		<section class="section2" id="dashboard">Dashboard</section>
		<section class="section3" id="uploader">Uploader</section> {% endcomment %}
		{% comment %} <section class="section4" id="details">Details</section>			 {% endcomment %}
		{% comment %} <section class="section5" id="service">Service</section>
		<section class="section6" id="reports">Reports</section> {% endcomment %}
		{% block maincontent %}
		{% endblock %}
	</div>
</html>