{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/uploader.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/fileUpload.js' %}"></script>{% endblock js %}
{% block title %}EMBArk analyzer{% endblock title %}

{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}

{% block sidebar %}{% include "uploader/sidebar.html" %}{% endblock sidebar %}
{% block maincontent %}
    <div class="row uploadRow">
      
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUpload" aria-expanded="false" aria-controls="collapseUpload" title="Upload">
          1. Upload
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevice1" aria-expanded="false" aria-controls="collapseDevice" title="Add new Vendor">
          2. Add new Vendor (optional)
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevice2" aria-expanded="false" aria-controls="collapseDevice" title="Add new Label">
          3. Add new Label (optional)
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevice3" aria-expanded="false" aria-controls="collapseDevice" title="Define the device-under-test">
          4. Define the device-under-test (optional)
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStart" aria-expanded="false" aria-controls="collapseStart" title="Configure Analysis">
          5. Analyze
        </button>
      </p>
        {% block upload %}{% include "uploader/upload.html" %}{% endblock upload %}
        {% block device %}{% include "uploader/device.html" %}{% endblock device %}
        {% block start %}{% include "uploader/start.html" %}{% endblock start %}
    </div>
{% endblock maincontent %}

