{% extends "uploader/base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/individualReportDashboard.css' %}">{% endblock %}
{% block title %}EMBArk individual dashboard{% endblock %}
{% block navigation %}{% include "uploader/navigation.html" %}{% endblock %}
{% block maincontent %}
<div>
  <h1><center>Firmware security scanning details</center></h1>
</div>
<div class="dataCard">
    <div class="row dataCardIRRow1">
        <div class="leftCol">
            <div class="card">
              <canvas class="aggregatedReport" id="accumulatedCveDoughnut"></canvas>
            </div>
            <div class="card IRReportCard">
              <canvas class="aggregatedReport" id="nxpie"></canvas>
            </div>
            <div class="card IRReportCard">
              <canvas class="aggregatedReport" id="piepie"></canvas>
            </div>
            <div class="card IRReportCard">
              <canvas class="aggregatedReport" id="relropie"></canvas>
            </div>
            <div class="card IRReportCard">
              <canvas class="aggregatedReport" id="canarypie"></canvas>
            </div>
            <div class="card IRReportCard">
              <canvas class="aggregatedReport" id="strippedpie"></canvas>
            </div>
        </div>

        <div class="card dataCardIR">
          <table class="table table-striped table-borderless table-individualrep">
            <div class="row">
            <!-- Quick and dirty JS solution. Need to fix the report id for using django mechanisms -->
            <form action="javascript:;" onsubmit="return get_report_url();" method='GET'>
              <button class="btn" type="submit">Open Report</button>
            </form>
            <form action="javascript:;" onsubmit="return get_dl_report_url();" method='GET'>
              <button class="btn" type="submit">Download Report</button>
            </form>
            <form action={% url 'embark-start-analysis' 1 %} method='GET'>
              <button type="submit" class="btn" >Rescan/delete</button>
            </form>
            <form action={% url 'embark-MainDashboard' %} method='GET'>
              <button type="submit" class="btn" >Main dashboard</button>
            </form>
            </div>
            <br>
            <tbody id="detail_body"></tbody>
          </table>
          <div>
            <div>Firmware entropy:</div>
            <img id="entropy" src="/static/content/images/Embark_black.png"></img>
          </div>
        </div>
    </div> 
</div>
{% endblock %} 
{% block inlinejs %}
<script type="text/javascript" src="{% static 'scripts/individualReportDashboard.js' %}"></script>
{% endblock %}
