{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'content/css/login.css' %}">
<script src="https://kit.fontawesome.com/67d45e2d15.js" crossorigin="anonymous"></script>
<div class="container-fluid">
    <div class="login-form-container">
        <div class="login">
            <form action = "/signin" class="login-form" method="POST" novalidate>
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fa fa-user"></i>
                <input type="email" placeholder="Username" name="email" required/>
                {% if error_message %}
                <div class="invalid-feedback alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <div class="input-field">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required/>
                {% if error_message %}
                <div class="invalid-feedback alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
            <input type="submit" class="btn solid" value="Login" />
            </form> 
        </div>
    </div>
</div>
