{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'content/css/login.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://kit.fontawesome.com/67d45e2d15.js" crossorigin="anonymous"></script>
<!--scripts for bootstrap-->
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'scripts/alertBox.js' %}"></script>


<div class="container-fluid">
    <div class="login-form-container">
        {% if error_message %}
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <small>Incorrect user e-mail or password entered.</small>
        </div>
        {% endif %}
        <img src="{% static 'content/images/Embark_black.png'%}" alt="embark" class="embarklogo" id="embarklogo">
        <div class="login">
            <form action = "/signin" class="login-form" method="POST" novalidate>
            <h2 class="title">Sign in</h2>
            <div class="input-field" data-error ="Email is required">
                <i class="fa fa-user"></i>
                <input type="email" placeholder="User email" name="email" required/>
            </div>
            <div class="input-field">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required/>
            </div>
            <input type="submit" class="solid btn-login" value="Login" />
            </form> 
        </div>
    </div>
</div>
