{% extends "uploader/home.html" %}
{% block maincontent %}
<div class="cardBox">
    <div class="card">
        <div class="card-title cardName">Total firmwares analyzed</div>
        <div class="card-body cardValue"></div>
    </div>
    <div class="card">
        <div class="card-title cardName">Total files</div>
        <div class="card-body cardValue"></div>
    </div>
    <div class="card">
        <div class="card-title cardName">Total directories</div>
        <div class="card-body cardValue"></div>
    </div>
    <div class="card">
        <div class="card-title cardName">Total binaries</div>
        <div class="card-body cardValue"></div>
    </div>
    <div class="card">
        <div class="card-title cardName">Total CWE</div>
        <div class="card-body cardValue"></div>
    </div>
</div>

<div class="container">
    <canvas id="loadChart"></canvas>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'scripts/mainDashboard.js' %}"></script>
{% endblock %}