{% extends "uploader/home.html" %}
{% block maincontent %}
<div class="cardBox">
    <div class="card">
        <div class="card-title cardName firmwareAnalysed">Total firmwares analyzed</div>
        <div class="card-body cardValue" id="firmwareAnalysed"></div>
    </div>
    <div class="card">
        <div class="card-title cardName totalFiles">Total files</div>
        <div class="card-body cardValue" id="totalFiles"></div>
    </div>
    <div class="card">
        <div class="card-title cardName totalDirectories">Total directories</div>
        <div class="card-body cardValue" id="totalDirectories"></div>
    </div>
    <div class="card">
        <div class="card-title cardName totalBinaries">Total binaries</div>
        <div class="card-body cardValue" id="totalBinaries"></div>
    </div>
    <div class="card">
        <div class="card-title cardName totalCve">Total CVE</div>
        <div class="card-body cardValue" id="totalCve"></div>
    </div>
    <div class="card">
        <div class="card-title cardName totalIssues">Total Issues</div>
        <div class="card-body cardValue" id="totalIssues"></div>
    </div>
</div>

<div class="dataCard">
    <div class="row dataCardRow">
        <div class="card card-left">
            <canvas class="aggregatedReport" id="accumulatedCvePie"></canvas>
        </div>
        <div class="card card-right">
            <label for="accumulatedEntropy">Average Entropy Value:</label>
            <meter id="accumulatedEntropy"
                   min="0" max="8"
                   value="0">
            </meter>
        </div>

    </div>
</div>
<div class="dataCard">
    <div class="row dataCardRowNew">
        <div class="card">
            <canvas class="aggregatedReport" id="nxpie"></canvas>
        </div>
       <div class="card">
            <canvas class="aggregatedReport" id="piepie"></canvas>
        </div>
        <div class="card">
            <canvas class="aggregatedReport" id="relropie"></canvas>
        </div>
       <div class="card">
            <canvas class="aggregatedReport" id="canarypie"></canvas>
        </div>
       <div class="card">
            <canvas class="aggregatedReport" id="strippedpie"></canvas>
        </div>
    </div>
</div>

<div class="dataCard">
    <div class="row dataCardRow-bottom">
        <div class="card card-bottom">
            <canvas class="system-overload" id="loadChart"></canvas>
        </div>
    </div>
</div>


<div class="dataCard">
    <div class="row dataCardRow">
        <div class="card card-left">
            <canvas class="aggregatedReport" id="accumulatedArchitecture"></canvas>
        </div>
        <div class="card card-right">
            <canvas class="aggregatedReport" id="accumulatedOs"></canvas>
        </div>
    </div>
</div>


{% load static %}
<script type="text/javascript" src="{% static 'scripts/mainDashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/accumulatedReports.js' %}"></script>
{% endblock %}