{% extends "uploader/base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/passwordReset.css' %}"/>{% endblock style %}

{% block maincontent %}
    <div style="text-align: center;">
    <div class="box box-primary">
    {% block title %} <h2>Password successfully changed! </h2> {% endblock title %}
    <a href="{% url 'embark-MainDashboard' %}">
        <input class="solid btn-reset" type="submit" value="Back to dashboard" />
    </a>
    </div>
    </div>
{% endblock maincontent %}