{% extends "uploader/base.html" %}
{% load static %}
    {% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/reportDashboard.css' %}"/>{% endblock style %}
    {% block title %}EMBArk report dashboard{% endblock title %}
    {% block navigation %}{% include "uploader/navigation.html" %}{% endblock navigation %}
    {% block maincontent %}
        <div class="row reportRow">
        <div class="col-sm" id="reportDashboardMainContainer">

                {% csrf_token %}
                <!-- Iterate over all fields and set expmode on fields in expert mode -->
                <div class="col-sm-2 input-group float-right searchBar">
                    <input type="text" class="form-control input-lg" placeholder="Search..." id="mySearchText"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" type="submit" id="mySearchButton">
                            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-linecap="round" stroke-linejoin="round"><circle cx="8.5" cy="8.5" r="5"/><path d="m17.571 17.5-5.571-5.5"/></g></svg>
                        </button>
                    </span>
                </div>
                <div class="tableData">
                    <table class="table table-striped table-light table-hover" id="report-table">
                        <thead>
                        <tr>
                            <th data-priority="2" scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Device</th>
                            <th scope="col">Version</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th data-orderable="false" data-priority="1" scope="col">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for firmware in finished_firmwares %}
                            <tr>
                                <td>{{ firmware.pk }}</td>
                                <td>{{ firmware.firmware }}</td>
                                <td>{{ firmware.vendor }}</td>
                                <td>{{ firmware.device }}</td>
                                <td>{{ firmware.version }}</td>
                                <td>{{ firmware.start_date }}</td>
                                <td>{{ firmware.end_date }}</td>
                                <td>
                                    <div class="buttonRow">
                                        <form action={% url 'embark-download' firmware.pk %} method='GET'>
                                            <button type="submit" class="btn buttonRowElem" >Download Logs</button>
                                        </form>
                                        <form action={% url 'embark-html-report' firmware.pk 'index.html' %} method='GET'>
                                            <button type="submit" class="btn buttonRowElem" >Open Report</button>
                                        </form>
                                        <form action={% url 'embark-IndividualReportDashboard' firmware.pk %} method='GET'>
                                            <button type="submit" class="btn buttonRowElem" >Detail View</button>
                                        </form>
                                        <form action={% url 'embark-start-analysis' 1 %} method='GET'>
                                            <button type="submit" class="btn buttonRowElem" >Rescan/delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    {% endblock maincontent %}
    {% block inlinejs %}
        <script>
            $(document).ready(function() {
                let table = $('#report-table').DataTable({sDom: 'lrtip'});

                $('#mySearchButton').on( 'keyup click', function () {
                    table.search($('#mySearchText').val()).draw();
                } );

                $("#mySearchText").change(function(){
                    table.search($('#mySearchText').val()).draw();
                });
            } );

        </script>
    {% endblock inlinejs %}
