{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/tracker.css' %}"/>{% endblock style %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock js %}

{% block title %}EMBArk tracker dashboard{% endblock title %}
{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}
{% block sidebar %}{% include "tracker/sidebar.html" %}{% endblock sidebar %}

{% bootstrap_messages %}

{% block maincontent %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mx-auto border-bottom">
    <h1 class="h2">Tracking-board</h1>
    <div class="btn-toolbar mx-auto">
        <div class="btn-group me-3 mx-auto">
            <button type="button" class="btn btn-sm btn-outline-secondary mx-3">Share(TODO export to dashboard, menu missing)</button>
            <button type="button" class="btn btn-sm btn-outline-secondary mx-3">Export(TODO export menu missing)</button>
            <!--https://django-tables2.readthedocs.io/en/latest/pages/export.html-->
            <button type="button" class="btn btn-sm btn-outline-secondary mx-3">Import(TODO import menu missing)</button>
            <!-- Has to create get request with timedelta value to ./-->
            <form action="{% url 'embark-tracker' %}" method="post" id="form">
                {% csrf_token %}
                <div class="innerBlock">
                    {% load filters %}
                    {% bootstrap_form time_form %}
                    {% bootstrap_button "Set" button_type="submit" button_class="btn btn-primary" %}
                </div>
            </form>
        </div>  
    </div>
</div>
<div>
    <canvas id="trackerChart" width="900" height="380"></canvas>
    <script>
        const data = {
            labels: {{ labels|safe }},
            datasets: [{
              label: 'Device count',
              data: {{ data|safe }},
              backgroundColor: {{ colors|safe }},
              borderColor: {{ borders|safe }},
              borderWidth: 1
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const trackerChart = new Chart(document.getElementById('trackerChart'), config);
    </script>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center mx-auto">
        <h2>Devices</h2>
        {% load django_tables2 %}
        {% render_table table %}
    </div>
</div>

{% endblock %}