{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'content/css/tracker.css' %}"/>{% endblock style %}
{% block js %}<script type="text/javascript" src="{% static 'scripts/tracker.js' %}"></script>{% endblock js %}
{% block title %}EMBArk tracker dashboard{% endblock title %}
{% block navigation %}{% include "navigation.html" %}{% endblock navigation %}

{% block maincontent %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tracking-board</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-3">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Import</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <h2>Devices</h2>
    <div class="table-responsive">
        {{ table }}
    </div>

{% endblock %}