{% load static %}
{% block sidebar %}
<nav class="navbar-inner navbar-expand-lg navbar-light bg-light d-flex flex-nowrap mx-auto" style="width: 100%;height:50px">

    <div class="collapse navbar-collapse mx-3 " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto my-auto">
        <li class="nav-item active mx-3">
          <a class="nav-link" href="{% url 'embark-tracker' %}">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Devices(TODO)</a>
        </li>
        <li class="nav-item dropdown mx-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown(TODO)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action(TODO)</a>
            <a class="dropdown-item" href="#">Another action(TODO)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here(TODO)</a>
          </div>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link disabled" href="#">Disabled(TODO)</a>
        </li>
        <li class="nav-item mx-3">
            <form class="form-inline justify-content-between my-1 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search(TODO)" aria-label="Search">
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search(TODO)</button>-->
            </form>
        </li>
      </ul>
      
    </div>
</nav>
{% endblock sidebar %}